@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
  color-scheme: light;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Cascadia Code', sans-serif;
  color: white;
  cursor: none;

}

body #root {
  width: 100%;
}


.main-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide {
  min-height: 100vh;
  min-width: 100%;
}

.gap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5em;
}

.main-container img {
  max-width: 20em;
  border: .2em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-shadow: 0em 0em 5em rgb(255, 255, 255);
  background-color: rgb(224, 99, 214, .3);
}

.main-text {
  max-width: 50%;
  margin-top: 10em;
}

.main-text p {
  font-size: x-large;
}

.box {
  padding: 1em;
  border-radius: 1em;
  max-width: 40vw;
  transition: .4s;
}

.box:hover {
  opacity: .8;
}

.box-experiencia {
  border: 4px solid rgb(57, 80, 179);
  box-shadow: 0 0 3em rgb(57, 80, 179);
}

.box-estudios {
  border: 4px solid rgb(107, 153, 167);
  box-shadow: 0 0 3em rgb(107, 153, 167);
}

.container-experiencia {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box:nth-child(2n+1) {
  margin-top: 8em;
}

.upper {
  position: fixed;
  bottom: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  width: 7em;
  filter: invert(1) opacity(.8);
  transition: .2s;
  z-index: 100;
}

.upper img {
  width: 100%;
  height: 100%;
}

.upper:hover {
  opacity: .5;
}

/* .mouse-follower {
  width: 50;
  height: 50;
  pointer-events: none;
  left: -25;
  top: -25;
  position: 'absolute';
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
} */

.mouse-follower:hover {
  cursor: none;
}

@media (prefers-color-scheme: light) {
  body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  }

  .box {
    color: rgb(255, 255, 255)
  }

  .box-experiencia {

    border: 4px solid rgb(107, 153, 167);
    box-shadow: 0 0 3em rgb(107, 153, 167);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #171c28;
  }
}

.container-footer {
  max-width: 100%;
  padding: 2em;
  background-color: #000000;
  color: white;
}

.tech {
  width: 5em;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 2em;
  padding: 2em;
  color: black
}

.container-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
}

.tech-img {
  width: 3em;
  height: 3em;
  object-fit: cover;
}

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: fixed;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-li {
  padding: 1em;
}

.navbar-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: xx-large;
  font-family: inherit;
  cursor: pointer;
}