@import "tailwindcss";

@theme {
    /* Colors */
    --color-text: #e9e8fc;
    --color-background: #02010b;

    /* Primary Color Scale */
    --color-primary-50: hsla(250 23.4% 95% / 1);
    --color-primary-100: hsla(250 31.2% 90% / 1);
    --color-primary-200: hsla(250 39% 85% / 1);
    --color-primary-300: hsla(250 50.7% 80% / 1);
    --color-primary-400: hsla(250 62.4% 73% / 1);
    --color-primary-500: hsla(250 78% 70% / 1);
    --color-primary-600: hsla(250 74.1% 64% / 1);
    --color-primary-700: hsla(250 70.2% 58% / 1);
    --color-primary-800: hsla(250 66.3% 52% / 1);
    --color-primary-900: hsla(250 62.4% 45% / 1);
    --color-primary: var(--color-primary-500);

    /* Secondary Color Scale */
    --color-secondary-50: hsla(308 23.7% 69% / 1);
    --color-secondary-100: hsla(308 31.6% 59% / 1);
    --color-secondary-200: hsla(308 39.5% 49% / 1);
    --color-secondary-300: hsla(308 51.35% 42% / 1);
    --color-secondary-400: hsla(308 63.2% 37% / 1);
    --color-secondary-500: hsla(308 79% 34% / 1);
    --color-secondary-600: hsla(308 75.05% 28% / 1);
    --color-secondary-700: hsla(308 71.1% 22% / 1);
    --color-secondary-800: hsla(308 67.15% 16% / 1);
    --color-secondary-900: hsla(308 63.2% 10% / 1);
    --color-secondary: var(--color-secondary-500);

    /* Accent Color Scale */
    --color-accent-50: hsla(323 24.6% 94% / 1);
    --color-accent-100: hsla(323 32.8% 84% / 1);
    --color-accent-200: hsla(323 41% 74% / 1);
    --color-accent-300: hsla(323 53.3% 67% / 1);
    --color-accent-400: hsla(323 65.6% 62% / 1);
    --color-accent-500: hsla(323 82% 59% / 1);
    --color-accent-600: hsla(323 77.9% 53% / 1);
    --color-accent-700: hsla(323 73.8% 47% / 1);
    --color-accent-800: hsla(323 69.7% 41% / 1);
    --color-accent-900: hsla(323 65.6% 34% / 1);
    --color-accent: var(--color-accent-500);

    /* Border Radius */
    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    /* Animations */
    --animate-slide-up: slideUp 0.3s ease-out;

    /* Background Images */
    --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}